{% extends 'base.html' %}
{% load bootstrap4 %}
{% load i18n %}
{% bootstrap_css %}

  
{% block content %}  
<div class="container wrapper flex-grow-1">
  <h1 class="my-4">{{ title }}</h1>
  <form method="post" class="form">
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ success_url }}">
      <p>{{ question }}</p>
      <button type="submit" class="btn btn-danger">{% translate "Yes, delete" %}</button>
      <a href="{% url 'users:users' %}" class="btn btn-secondary">{% translate "Cancel" %}</a>
  </form>
</div>
{% endblock content %}