{% extends 'base.html' %}
{% load bootstrap4 %}
{% load i18n %}
{% bootstrap_css %}

{% block title %}{{ title }}{% endblock %}
{% block content %}  
<div class="container wrapper flex-grow-1">

  <h1 class="my-4">{{ title }}</h1>
    <form method="post" class="form">
      {% csrf_token %}
        {% bootstrap_form form %}
          {% buttons %}
            <button type="submit" class="btn btn-success">{% translate "Submit"%}</button>
          {% endbuttons %}
    </form> 
</div> 
{% endblock content %}