{% extends 'base.html' %}
{% load bootstrap4 %}
{% load i18n %}
{% bootstrap_css %}

{% block content %}
<div class="container wrapper flex-grow-1">
    <div class="card">
        <div class="card-body p-5 bg-light">
        <h1>{% translate "Hello!" %}</h1>
        <p class="lead">{% translate "This is my task manager created on Django."%}</p>
        <a class="btn btn-lg btn-primary" href="https://github.com/kat-git-hub" role="button">{% translate "Learn more" %} &raquo;</a>
        </div>
    </div>
</div>
{% endblock content %}
